---
---
@import '../_sass/bootstrap',
        '../_sass/syntax-highlighting',
        '../_sass/base';

@font-face {
  font-family: Bazar;
  src: url(https://s3-us-west-1.amazonaws.com/templatestud.io/assets/fonts/bazar.ttf);
}

%lato { font-family: 'Lato', sans-serif; }
%varela { font-family: 'Varela Round', sans-serif; }
%bazar { font-family: 'Bazar', 'Varela Round', sans-serif; }

/* ------- pagination -------- */


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 500px) {

}