---
---
@import '../_sass/bootstrap',
        '../_sass/syntax-highlighting',
        '../_sass/base';

@font-face {
  font-family: Bazar;
  src: url(https://s3-us-west-1.amazonaws.com/templatestud.io/assets/fonts/bazar.ttf);
}

%lato { font-family: 'Lato', sans-serif; }
%varela { font-family: 'Varela Round', sans-serif; }
%bazar { font-family: 'Bazar', 'Varela Round', sans-serif; }

body {
    @extend %varela;
    font-size: 18px;
    line-height: 1.8em;
    padding-top: 51px;
    -webkit-font-smoothing: antialiased;
}
a {
  color: $primary-color;
}
a:hover {
  text-decoration:none;
}
h1 {
  font-size:48px;
  margin:50px 0px;
}
h1.name {
  @extend %bazar;
  color:$primary-color;
}
.skills {
  color:#777;
  margin-bottom:100px;
}
.navbar {
}
.navbar-default{
  background-color:#FFF;
}
.navbar-nav > li > a {
  padding-top:20px;
  text-transform:uppercase;
}
.navbar-brand {
  @extend %bazar;
  padding: 18px 0px 0px 20px;
  font-size:26px;
  color:$primary-color;
}

.hero {
  padding: 180px 0px;
  min-height: 840px;
}
section {
  padding:90px 0px;
}
.pad-top { padding-top:40px; }
.pad-btm { padding-bottom:60px; }

.h7 {
  color:$primary-color;
  text-transform: uppercase;
}
.highlight {
  color:$primary-color;
  background-color:transparent;
}
.sub-title {
  color: #8D8D8D;
  padding: 0px 0px 8px 0px;
  font-size:18px;
}
.icons {
  padding-top:40px;
}
.icons img {
  margin:0 auto;
}

#content-grey {
  background-color:#f1f1f1;
}
#banner {
  background-image:url('../img/pattern-color.png');
  border-top:1px solid #d8d8d8;
  padding:40px 0px;
}
#form {
  background:url('../img/formBg.png');
  border-top: 1px solid #e7e7e7;
}
form {
  background-color:#039be5;
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  padding: 10px 30px 10px 30px;
  -webkit-appearance:none;

}
form label {
  margin-top:5px;
  color:#FFF;
  text-shadow: 1px 1px 1px #777;
}
form h1 {
  margin:20px 0px;
  color:#FFF;
  text-shadow: 1px 1px 1px #777;
}

input {
  width:100%;
  border: 1px solid #777;
  border-radius:3px;
  padding:0px 5px;
}
textarea {
  width: 100%;
  height:160px;
  color:#777;
  border: 1px solid #777;
  border-radius:3px;
  padding:0px 5px;
}

/* button */
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 15px 60px;
  display: inline-block;
  margin: 15px 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-2 {
  border-radius:4px;
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-2:hover {
  box-shadow: 0 4px #ab3c3c;
  top: 2px;
  color:#f1f1f1;
}

/* hero bounce arrow */

.fa-angle-double-down:before {content: "\f103"; color:#039be5;}

.bounce {
  margin-left:auto;
  margin-right:auto;
  bottom:0;
  left: 50% ;
  width: 55px;
  height: 55px ;
  border: 2px solid #039be5;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


.required-message {
  display:none;
}


#templates * {
  z-index: 2;
}
#templates {
  padding:60px 0px;
  background:url('../img/pattern.png');
}
#templates h2 {
  margin: 60px 0px 10px 0px;
}
#templates .portfolio-item {
  right: 0;
  margin: 0 0 80px;
}

#templates .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#templates .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(3, 155, 229,.8);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

#templates .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#templates .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
#templates .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

/* Pricing */
.track {
    margin:30px 0px;
}
.panel-group .panel > .panel-heading a.collapsed:before {
  content: '+';
  color: #777;
  vertical-align:bottom;
  margin-right:15px;
}
.panel-group .panel > .panel-heading a {
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 1.8em;
  position: relative;
}
.panel-group .panel > .panel-heading a:before {
  margin-right:10px;
  content: '-';
  color: #333;
  font-weight: 300;
  left: 10px;
  top: 15px;
  font-size: 26px;
  width: 30px;
  text-align: center;
}




  /* Blog Posts */
    .blog-row {
    border:1px solid #e7e7e7;
    margin-bottom:100px;
    }
    .blog-row img:hover {
      opacity:0.8;
    }
    .listing-meta {
      font-size:14px;
      padding:15px 0px 51px;
      border-right:1px solid #e7e7e7;
    }

    .listing_meta span {
      display: block;
      margin: 0;
      padding-bottom: 12px;
    }
    .blog-content {
      color:#777;
      font-size:18px;
    }
    .blog-content:hover {
      opacity:0.8;
    }
    .blog-content:last-child {
      margin-bottom:0px;
    }
    ul.category-list {
      font-size:16px;
      padding-left:20px;
    }

    .footer {
      background-color: rgba(52, 52, 52, 1);
      padding: 20px;
      color: #FFF;
      font-size:16px;
    }


/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 500px) {

    .hero {
      padding: 60px 0px;
    }
}