 <!-- Contact Section -->
    <section id="form">
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <h2><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Contact Us</h2>
                    <p class="sub-title hidden-xs" style="color:#FFF">We build custom templates from your designer or we can create a design based off your company styleguide. See <a style="color:#FFF; text-decoration:underline;" href="/pricing/">ways to work with us</a>.</p>
                    <p class="sub-title" style="color:#FFF;">If you'd like a free proposal or have any questions, fill out the form or
                        contact us directly by email: <b>alex@templatestud.io</b>. </p>
                </div>
                <div class="col-lg-5">
                    <form id="contactform" method="POST">
                    <label>Email</label>
                        <input name="_replyto" type="text" class="form-control input-lg" placeholder="email@example.com">
                        <label>Message</label>
                        <textarea name="message" class="form-control input-lg" placeholder="Your message..." rows="4"></textarea>
                        <input type="hidden" name="_next" value="/thanks/" />
                        <input type="hidden" name="_subject" value="Website Contact Form" />
                        <input type="text" name="_gotcha" style="display:none" />

                        <button type="submit" class="btn btn-2" value="Send">Submit</button>
                    </form>
                    <script>
                        var contactform =  document.getElementById('contactform');
                        contactform.setAttribute('action', '//formspree.io/' + 'alex' + '@' + 'templatestud' + '.' + 'io');
                    </script>
                </div>
            </div>
        </div>
    </section>