 <!-- Contact Section -->
    <section id="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <form action="https://docs.google.com/forms/d/1sdbPICT9GwbR5NeXpcnEyJqVlJj72wMdJUN3K4hawos/formResponse?embedded=true" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
                        <h2 class="text-center">Get Free Proposal</h2>
                        <br/>
                        <div class="ss-form-question errorbox-good" role="listitem">
                            <div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
                                <label class="ss-q-item-label" for="entry_1713746376"><div class="ss-q-title">Email
                                    <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                    <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
                                    <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
                                <input type="text" name="entry.1713746376" value="" class="ss-q-short" id="entry_1713746376" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
                                <div class="error-message" id="120387932_errorMessage"></div>
                                <div class="required-message">This is a required question</div>
                            </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
                        <div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
                            <label class="ss-q-item-label" for="entry_1181200742"><div class="ss-q-title">Message
                            </div>
                                <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
                            <textarea name="entry.1181200742" rows="8" cols="0" class="ss-q-long" id="entry_1181200742" dir="auto" aria-label="Message  "></textarea>
                            <div class="error-message" id="328321408_errorMessage"></div>
                            <div class="required-message">This is a required question</div>
                        </div></div></div>
                        <input type="hidden" name="draftResponse" value="[,,&quot;7062880047199141&quot;]
">
                        <input type="hidden" name="pageHistory" value="0">

                        <input type="hidden" name="fvv" value="0">


                        <input type="hidden" name="fbzx" value="7062880047199141">

                        <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                            <input type="submit" name="submit" value="Submit" id="ss-submit" class="btn btn-2 jfk-button-action">

                        </td>
                        </tr></tbody></table></div></ol></form>
                </div>
            </div>
        </div>
    </section>