<section id="content-grey">
    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <h2><span class="highlight">ABOUT</span> US</h2>
                <p>We specialize in the design and development of custom Marketo landing page and email templates.
                    Let us build your Marketo templates, so you can concentrate on becoming great marketers.
                    We will make you look like rockstars with our professionally built templates. </p>
            </div>
        </div>
    </div>
</section>

<section id="">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 pull-right">
                <img class="img-responsive" src="../img/builders.png" />
            </div>
            <div class="col-sm-6 col-md-offset-1">
                <br/><br/>
                <article>
                    <h2>UPLOAD AND<span class="highlight"> START EDITING</span></h2>
                    <div class="sub-title">Make edits using the Marketo Guided Landing Page editor.</div>
                    <p>No Developer, or HTML knowledge required. We build templates you can easily edit within Marketo.</p>
                </article>
            </div>
        </div>
    </div>
</section>

<section id="">
    <div class="container">
                <div class="text-center">

                    <h2>WHY USE MARKETO <span class="highlight">LANDING PAGES</span></h2>

                </div>
                <div class="section-content row">
                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/form-widget.png" class="img-responsive" alt="form" />
                            <span class="h7">FORMS ELEMENT</span>
                            <p class="thin">Capture leads by using a Marketo form. Edit all form settings within Marketo, no need to use their API.</p>
                        </article>
                        <!--<span class="icon icon-arrows-04"></span>-->
                    </div>
                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/social-widget.png" class="img-responsive" alt="social" />
                            <span class="h7">SOCIAL/POLL ELEMENT</span>
                            <p class="thin">Have your customers share your landing pages with Marketo's built in social sharing widget.</p>
                        </article>
                        <!--<span class="icon icon-arrows-04"></span>-->
                    </div>
                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/analytics.png" class="img-responsive" alt="analytics" />
                            <span class="h7">ANALYTICS</span>
                            <p class="thin">Track and control everything within Marketo. Marketo Munchkin code built in.</p>
                        </article>
                    </div>
                </div>

                <div class="section-content row">
                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/world-servers.png" class="img-responsive" alt="world servers" />
                            <span class="h7">HOSTED</span>
                            <p class="thin">Pages are already hosted on Marketo servers. No need to set up or pay for separate hosting.</p>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/scalable-templates.png" class="img-responsive" alt="scalable templates" />
                            <span class="h7">SCALABLE TEMPLATES</span>
                            <p class="thin">Use the same template for many campaigns. Change tokens or use RTP for dynamic content.</p>
                        </article>
                    </div>
                    <div class="col-sm-4">
                        <article class="icons text-center">
                            <img src="../img/icons/a-text.png" class="img-responsive" alt="easy to edit" />
                            <span class="h7">EASY TO EDIT</span>
                            <p class="thin">Use Marketo's easy-to-use editors to change text and images freely.</p>
                        </article>
                    </div>
                </div>
                <br/>
                <br/>
    </div>
</section>


<section id="responsive" class="section dark">
    <div class="container">
        <div class="section-header text-center">

            <h2><span class="highlight">WHY </span>HIRE US</h2>
        </div>

        <div class="section-content row">
            <div class="col-md-4 col-sm-12">
                <article class="text-center animated hiding">
                    <img src="../img/responsive.png" />
                    <span class="h7">Responsive Design</span>
                    <p class="thin">60% of Online Traffic on Mobile. 57% of mobile users will abandon your website if it takes more than 3 seconds to load. </p>
                </article>
                <!--<span class="icon icon-arrows-04"></span>-->
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="text-center">
                    <img src="../img/conversions.png" />
                    <span class="h7">Drive Conversions</span>
                    <p class="thin">Increase conversions by providing the best possible user experience no matter what device. Optimized for SEO.</p>
                </article>
                <!--<span class="icon icon-arrows-04"></span>-->
            </div>
            <div class="col-md-4 col-sm-12">
                <article class="text-center">
                    <img src="../img/piggy-bank.png" />
                    <span class="h7">Decrease Costs</span>
                    <p class="thin">Templates are reusuable across many campaigns. Cheaper & faster than using engineering resources for marketing.</p>
                </article>
            </div>

        </div>

    </div>
</section>

<div id="banner" class="section-dark">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <h1 style="color:#FFF;">WE DO CUSTOM WORK</h1>
            </div>
                <div class="col-md-2"><br/><a href="#form" class="btn btn-2">Email Us</a></div>


        </div>
    </div>
</div>


