
    <!-- Portfolio Grid Section -->
    <section id="templates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-header">
                        <h2>PREMIUM <span class="highlight">LANDING PAGES</span></h2>
                        <p class="sub-title">All templates are mobile responsive. We offer email support for all templates<sup>1</sup>.
                            <br/>If you would like custom templates to match your branding, feel free to reach out for a free proposal.
                        <br/><br/></p>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for my_templates in site.my_templates reversed %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="{{ my_templates.url }}" class="portfolio-link">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="{{ my_templates.img }}" class="img-responsive" alt="{{ my_templates.alt }}">

                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-9">
                    <p class="sub-title"><sup>1</sup> We support all of our templates, but if a template has been modified outside of the marketo editor, we will not support it. Our Templates are made to be edited only in the Marketo editor.</p>
                </div>
            </div>
        </div>
    </section>