<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1>About Us</h1>
                    <p>In May of 2015, Marketo released their guided landing page editor with support for responsive landing page templates. Before this, you had to make due with non-repsonsive landing pages in order to use any of the Marketo widgets or analytics. There were workaround/hacks that you could do, but it was messy and difficult. Now we are able to create a seamless user experience across all devices and screensizes to generate leads and conversions.</p>
                </div>
            </div>
        </div>
    </main>

<section class="section-dark">
    <div class="container">
    <div class="row animated hiding center" data-animation="fadeInUp">
        <div class="col-md-6 col-md-offset-3">
            <h3><span class="highlight">HIRE US</span></h3>
            <div class="sub-heading">We build custom Marketo landing page & email templates</div>
            <br/>
            <a href="mailto:templatestud@gmail.com" class="btn btn-secondary animated hiding" data-animation="bounceIn" data-delay="400">Email Us</a>
            <br/>
            <br/>
        </div>
    </div>
    </div>
</section>

{% include footer.html %}
{% include js.html %}
</body>
</html>