<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{% if page.title %}
                {{ page.title }}
                {% else %}
                {{ site.data.global.title }}
                {% endif %}</h2>

            <p class="lead">
                {% if page.lead-text %}
                {{ page.lead-text }}
                {% elsif post.lead-text %}
                {{ post.lead-text }}
                {% else %}
                {{ site.data.global.description }}
                {% endif %}
            </p>
            <p>{{ content }}</p>
        </div>
    </div>
</div>

{% include footer.html %}
{% include js.html %}

</body>
</html>