<!DOCTYPE html>
<html>
{% include head.html %}
{% include nav.html %}


<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>&nbsp;</h1>

            <h2>{% if page.title %}
                {{ page.title }}
                {% else %}
                {% endif %}</h2>

            <!-- Look the author details up from the site config. -->
            {% assign author = site.data.authors[page.author] %}
            <!-- Output author details if some exist. -->
            {% if author %}
            <span><img src="{{ author.photo }}" alt="{{ author.name }}" />
                By: {{ author.name }}
            </span>
            {% endif %}


            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
{% include js.html %}

</body>
</html>