<!DOCTYPE html>
<html>
{% include head.html %}
{% include nav.html %}

<div class="container">
    <div class="row">
        <h2 class="text-center" style="margin:60px 40px;">WAYS TO WORK <span class="highlight">WITH US</span></h2>
        <div class="col-md-4">
            <div class="track text-center">
                <span class="h7">1. We design/build from scratch?</span>
                <p class="sub-title">Starting at $1,500, <a id="bsPopover" data-toggle="popover" data-trigger="hover" data-trigger="focus" data-placement="bottom" data-content="2 round of edits free, beyond that will be charged hourly rate. Turnaround takes about a week, depending on specs. Usually 1-4hrs design, 1-4hrs coding, 1-4hrs testing.">
                    Details <i class="fa fa-question" aria-hidden="true"></i>
                </a></p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="track text-center">
            <span class="h7">2. Have your own design?</span>
                <p class="sub-title">Starting at $1,000 per template</p>

            </div>
        </div>
        <div class="col-md-4">
            <div class="track text-center">
            <span class="h7">3. Day to day email production.</span>
                <p class="sub-title"></p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a href="/#form" class="btn btn-2">Contact Us</a>
    </div>
</div>



<!-- FAQ -->
<section id="main-content">
    <div class="container">
        <div class="row animated hiding" data-animation="fadeInDown">
            <div id="main-col" class="col-md-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <article class="faq-section">
                    <h2 class="text-center" style="margin:0px 0px 50px;"><span class="highlight">FAQ:</span> GETTING STARTED</h2>
                    <ul>
                        <li>Unzip the file and upload the index.html file into Marketo Design Studio, as a new landing page template.</li>
                        <li>Under your program, go to local assets, and create a new landing page and choose the landing page template you uploaded and approved. Be sure to select "Guided" in the dropdown.</li>
                        <li>Now in the edit view of the landing page editor, you can start adding images and replacing text. </li>
                        <li>Useful links: <a href="https://docs.marketo.com/display/public/DOCS/Create+a+Guided+Landing+Page">General Marketo Documentation Portal</a>, <a href="https://nation.marketo.com/docs/DOC-1848">Getting Started with Guided landing pages</a>, <a href="https://nation.marketo.com/docs/DOC-1849">editing elements</a>, <a href="https://nation.marketo.com/docs/DOC-1850">variables</a>.</li>
                    </ul>

                    <div class="loaded-content">
                        <div class="panel-group kopa-accordion" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2">How do I pay for items on the Marketplaces?</a>
                                    </h4>
                                </div>
                                <div id="collapseOne2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Click the buy button for your template, and it will redirect you to gumroad to complete the purchase. We are currently using <a href="https://gumroad.com/">Gumroad</a>, the secured e-commerce platform to take credit card and paypal payments.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">How do I edit the template colors?</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        At the top of each HTML template, you will see "meta" tags which are what Marketo uses for their variables. Look for the tags with class="mktoColor", then find the hex color code (looks like: #f3f3f3) and switch it to your company's color.<br/>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" class="collapsed">How do I toggle a section OFF if I don't want it?</a>
                                    </h4>
                                </div>
                                <div id="collapseThree2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        In the Marketo guided landing page editor, you will see on the right hand column (near the bottom) theres a variables section where you can toggle sections of the template to "SHOW" or "HIDE".<br/>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapsefour2"  class="collapsed">How can I edit the CSS?</a>
                                    </h4>
                                </div>
                                <div id="collapsefour2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        1. You can edit the CSS directly inline between the &lt;style&gt; tags.<br/>
                                        2. Or, you can create your own stylesheet and reference it in your &lt;link&gt; tag in the &lt;head&gt;, don't forget to put it under the bootstrap CSS stylesheet to override the default bootstrap styles. <br/>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapsefive2" class="collapsed">How do I change the font?</a>
                                    </h4>
                                </div>
                                <div id="collapsefive2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Use the &lt;link&gt; tag or @import to insert custom fonts to your template. Then reference your h1,h2,h3,h4,h5,p tags in the CSS to the font-family:'Custom Font'; of your choosing.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapsesix2" class="collapsed">Do you offer refunds?</a>
                                    </h4>
                                </div>
                                <div id="collapsesix2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Currently we do not offer refunds. But we do offer <a href="mailto:alex@templatestud.io">email support</a> if you are having issues with your template.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseseven2" class="collapsed">Can I hire you for custom work?</a>
                                    </h4>
                                </div>
                                <div id="collapseseven2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Please <a href="mailto:alex@templatestud.io">email us</a> for custom contract/consulting jobs.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- accordion -->
                    </div>
                    <!-- loaded content -->
                </article>
            </div>
        </div>
    </div>
</section><!--/main-content-->

{% include footer.html %}
{% include js.html %}

<script type="text/javascript">
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
</body>
</html>