<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <h1>THANKS!</h1>
                    <p>We've received your message and will get back to you shortly. Check out <a href="http://templatestud.io/blog/">our blog</a> in the meantime.</p>
                </div>
            </div>
        </div>
    </main>


{% include footer.html %}
{% include js.html %}
</body>
</html>